<div class="container">
  <div class="header-box">
    <div class="text-center">

      <h1><%= @beer.name %></h1>
      <p><%= @beer.description %></p>
    </div>


    <div class="ratings">

    <h3>Rate <%= @beer.name %> </h3>
    <div class="rate-beer">

      <%= button_to "Like", rated_beers_path, params: {name: @beer.name, id: @beer.beer_id, rate: 1}, class: "text-center" %>
      <%= button_to "Dislike", rated_beers_path, params: {name: @beer.name, id: @beer.beer_id, rate: 0}, class: "text-center" %>
    </div>
  </div>
  </div>
</div>
