<!DOCTYPE html>
<html>
<head>
  <title>BeerExplorer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

</head>
<body id="body">
<%= render "layouts/navbar" %>
<div id="stage">

  <% flash.each do |type, message| %>
  <div class="alert alert-<%= type %> text-center alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
      <%= sanitize(message) %>
    </div>

    <% end %>

    <%= yield %>
  </div>

  </body>
  <%= javascript_include_tag 'application' %>
  </html>
