<!DOCTYPE html>
<html>
  <head>
    <title>BeerExplorer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_user %>
      Signed in as <%= current_user.name %>
      <%= link_to "Sign Out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <% end %>

    <%= yield %>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
